header {
    background: #47403c;
    padding: 20px 0;
}
#logo {
    width: 20%;
}
.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/* evento hover */
nav a:hover{
    color: #d6d66e;
    text-decoration: underline;
}
#banner{
    width: 100%;
    height: 400px;
}
.titulo-centrado {
    text-align: center;
}
#principal {
    background: #dcdbdc;
    padding: 20px;
}
#compromisos{
    padding: 30px;
}
#lista_compromisos{
    display: inline-block;
    width: 30%;
    padding-right: 15%;
    vertical-align: top;
    font-size: 17px;
}
#imagen-compromisos {
width: 600px;
}