.titulo-principal {
    padding-left: 45px;
}
#banner{
    width: 100%;
    height: 400px;
}
.titulo-centrado {
    text-align: center;
}
#principal {
    background: #dcdbdc;
    padding: 20px;
}
#compromisos{
    padding: 30px;
}
ul {
    display: inline-block;
    width: 30%;
    padding-right: 15%;
    vertical-align: top;
    font-size: 17px;
}
#imagen-compromisos {
width: 600px;
}