body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header {
    background: #47403c;
    padding: 20px 0;
}
#logo {
    width: 20%;
}
.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.imagen-productos {
    width: 130px;
    height: 130px;
    padding: 20px;
}
.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5%;
}
.productos h2{
    font-size: 25px;
    font-weight: bold;
}
.productos-drescripcion {
    font-size: 18px;
}
.productos-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
footer{
    background-color: #47403c;
    text-align: center;
    padding: 40px;
    font-size: 13px;
    color: #FFFFFF;
}
footer img{
    width: 200px;
}
/* captura de eventos */
nav a:hover {
    color: #d6d66e;
    text-decoration: underline;
}
.productos li:hover{
border-color: #ca6f45;
font-size: 25px;
}
.productos li:active{
    border-color: #5ccc78;
}
/* estilo para contacto.html*/
#maincontacto{
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
div label, div p{
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
}
.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
    display: block;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
table {
    margin: 40px 40px;
}
thead {
background: #555555;
color: white;
font-weight: bold;
}
td, th {
    border: 1px solid black;
    padding: 8px 15px;
}
/* estilo para la pagina de inicio */
.banner {
    width: 100%;
}
.principal {
    width: 940px;
    margin: 0 auto;
    padding: 3em;
    background: #FFFFFF;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.titulo-principal::first-letter {
    font-weight: bold;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong {
    font-weight:bold;
}
.principal em {
    font-style: italic;
}
.imagen-gamer {
    width: 220px;
    float: left;
    margin: 0 20px 20px 0;
}
.ubicacion {
    padding: 3em 0;
    background: linear-gradient(#FFFFFF, #888888);
}
.ubicacion p {
    text-align: center;
    padding: 0 0 2em;
}
.contenido-mapa {
    width: 940px;
    margin: 0 auto;
}
.compromisos {
    background: #888888;
}
.contenido-compromisos {
    width: 640px;
    margin: 0 auto;
}
.lista_compromisos {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}
.items::before {
    content: "★";
}
.items {
    line-height: 1.5;
}
.items:first-child {
    font-weight: bold;
}
.imagen-compromisos {
    width: 60%;
    box-shadow: 10px 10px 30px 15px #000000;
    transition: 400ms; 
}
.imagen-compromisos:hover {
    opacity: 40%;
}
.video {
    width: 560px;
    margin: auto;
    padding: 2em 0 4em;
}
