header {
    background: #47403c;
    padding: 20px 0;
}
#logo {
    width: 20%;
}
.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
main{
    padding: 55px;
}
.imagen-productos {
    width: 130px;
    height: 130px;
    padding: 20px;
}
.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5%;
}
.productos h2{
    font-size: 25px;
    font-weight: bold;
}
.productos-drescripcion {
    font-size: 18px;
}
.productos-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
footer{
    background-color: #47403c;
    text-align: center;
    padding: 40px;
    font-size: 13px;
}
footer img{
    width: 200px;
}
/* captura de eventos */
nav a:hover {
    color: #d6d66e;
    text-decoration: underline;
}
.productos li:hover{
border-color: #ca6f45;
font-size: 25px;
}
.productos li:active{
    border-color: #5ccc78;
}
/* estilo para contacto.html*/
#maincontacto{
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
div label, div p{
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
}
.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
    display: block;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
table {
    margin: 40px 40px;
}
thead {
background: #555555;
color: white;
font-weight: bold;
}
td, th {
    border: 1px solid black;
    padding: 8px 15px;
}